@font-face {
    font-family: "Maven Pro";
    src: url('../fonts/MavenPro-Regular.ttf');
}

* {
    font-family: 'Maven Pro', sans-serif;
}

.center-block {
    float: none !important;
}

#shorty {
    position: absolute;
    width: 100%;
    margin-top: 40%;
    right: 20px;
}

#not_found {
    position: relative;
    width: 100%;
    margin-top: 20%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
