{% extends 'base.html' %}
{% block title %}404{% endblock %}
{% block content %}
<div id="not_found" class="well well-sm">
  <h4 class="text-warning"><b>Page Not Found</b></h4>
  <p><a class="btn btn-default btn-sm" href="{{ url_for('index') }}" role="button">Home</a></p>
</div>
{% endblock %}