<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>_urly -- {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">_urly</p>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>

