{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-6 center-block">
    <div id="shorty" class="input-group input-group-lg">
      <input id ="url" type="text" class="form-control" placeholder="Paste your URL" data-toggle="popover" data-placement="top" />
      <span class="input-group-btn">
        <button id="submit" class="btn btn-default active" type="button">CUT</button>
      </span>
    </div>
  </div>
</div>
{% endblock %}